<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="PAYMENTS_NORMAL" value="D:\BCC_FOLDER\Normal\" />
    <add key="PAYMENTS_URGENT" value="D:\BCC_FOLDER\Urgent\" />
    <add key="PAYMENTS_NEXTDAY" value="D:\BCC_FOLDER\Next\" />
    <add key="PAYMENTS_INTERNAL" value="D:\BCC_FOLDER\Internal\" />
    <add key="VALUTE" value="D:\BCC_FOLDER\Valute\" />
    <add key="PAYMENTS_SWIFT" value="D:\BCC_FOLDER\SWIFT\" />
    <add key="ORA_DOCUMENT_SOURCE" value="127.0.0.1/ORA.TEST" />
    <add key="ORA_LOGIN" value="SYSTEM" />
    <add key="ORA_PASSWORD" value="sAilor030794" />
    <add key="DEVISIONS_Standard" value="'1447','3358'" />
    <add key="DEVISIONS_Valute" value="'1447','3358'" />
    <add key="DEVISIONS_Lists" value="'1447','3358'" />
    <add key="SQLConectionString" value="Data Source=FCTEST\SQLEXPRESS;Initial Catalog=abbyy;Trusted_Connection=True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="EventlogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="FC_ImageImport_Service" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>